/*
    Document   : configurator
    Created on : Oct 14, 2010, 11:57:53 AM
    Author     : Aninneman
    Description:
        Purpose of the stylesheet follows.
*/

img{
    border: none;
}

#configurator{
    color: black;
    font-size: 10pt;
    text-align: left;
}

select{
    border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -o-border-radius: 4px 4px;
    height: 25px;
    min-width:200px;
}

option{
    padding: 1em;
}

option:last{
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -o-border-radius: 0px 0px 4px 4px;
}

.prodLinks input[type=image]{
    width: 90%;
}

#clear{
    font-size: 10pt;
    color: #5b5a5a;
    text-decoration: none;
}

#clear:hover{
    text-decoration: underline;
}

#vehicleStr{
    margin: 10px;
    font-size: 16pt;
    float:left;
}

#searchStr{
    display: none;
}

select{
    display:none;
}

#lookup_submit{
    display: none;
    padding-left: 3px;
    padding-right: 3px;
}

.hitch{
    padding-bottom:25px;
    padding-left: 2%;
    border-bottom: 1px solid #ccc;
    width: 97%;
}

#logo{
    float:right;
    width: 150px;
}

#logo img{
    width: 150px;
    height: 40px;
    margin: 5px 0px;
}

.curtLogo{
    display:inline;
    position: relative;
    top: 2px;
}

.shortDesc_link{
    text-decoration: none;
    color: #515050;
    margin-bottom: 5px;
    padding-top: 10px;
}

.shortDesc_link:hover{
    text-decoration: underline;
}

.hitchTitle{
    font-size: 14pt;
    font-weight: bold;
}

.prodImg{
    float:left;
    width:10%;
    margin-right:25px;
    text-align: center;
    text-decoration: none;
}

.prodImg img{
    width:95%;
}

.prodImg span{
    display:block;
    color: black;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
}

.prodImg span:hover{
    text-decoration: underline;
}

.longDesc{
    float:left;
    width:60%;
    margin-top:0px;
    margin-right:20px;
}

.longDesc .hitchSpecs{
    float:left;
    margin-right: 25px;
    max-width: 45%;
}

.longDesc .hitchSpecs img{
    width: 25px;
    vertical-align: bottom;
}

.longDesc .hitchSpecs a{
    line-height: 25px;
    color: #5b5a5a;
    text-decoration: none;
}

.longDesc .hitchSpecs a:hover{
    text-decoration: underline;
}

.longDesc .grossLoad{
    float:right;
    clear: right;
    background: #dddddd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#cecece));
    background: -moz-linear-gradient(top, #dddddd, #cecece);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#cecece);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#cecece)";
    border: 2px outset #ccc;
    border-radius: 3px 3px 3px;
    -webkit-box-shadow: 0 0 4px #ccc;
    max-width: 45%;
}

.longDesc .grossLoad table caption{
    color: #164aa5;
    font-weight: bold;
    font-size: 15pt;
}

.longDesc .grossLoad table tr td:nth-child(even){
    color: #164aa5;
}

.longDesc .grossLoad table tr td:nth-child(odd){
    color: black;
    font-weight: bold;
}

.longDesc p{
    margin-bottom: 0px;
}

.prodLinks{
    min-height: 45px;
    float:left;
    width:20%;
    border-left:1px solid #ccc;
    padding-left:15px;
}

.prodLinks a{
    vertical-align: top;
    color: #515050;
    text-decoration: none;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14pt;
}

.prodLinks a img{
    vertical-align: bottom;
    text-decoration: none;
}

.prodLinks a span:hover{
    text-decoration: underline;
}

#hitchResults{
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 6px #2c2e2d;
    -moz-box-shadow: 0 0 6px #2c2e2d;
    -o-box-shadow: 0 0 6px #2c2e2d;
    box-shadow: 0 0 6px #2c2e2d;
    margin-top: 25px;
}

/*#resultBox_outline{
    border: 1px solid #999;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    margin: 10px 0px;
}*/


#resultBox{
    background: #164aa5;
    -webkit-background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#164aa5), to(#123ca4));
    -moz-background: -moz-linear-gradient(top, #164aa5, #123ca4);

    padding: 5px;
    border: 1px solid #ccc;
    color: white;
    min-height: 60px;
    max-height: 150px;
}

.trademark{
    vertical-align: top;
    line-height: 1.5em;
    color: #e44f31;
}

.button{
    background: #999;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ccc));
    background: -moz-linear-gradient(top, #999, #ccc);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=#CCCCCC);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=#CCCCCC)";

    padding: 5px;
    border: 1px solid #white;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    color: white;
}

.button:hover{
    text-decoration: underline;
}

.button_outer{
    border: 1px solid #999;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

.buynow{
    width: 40%;
}

.more{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
}

.more:hover{
    text-decoration: underline;
}
.hitchTabs{
    margin-top: 20px;
}

.hitchTab{
    width: 100px;
    display: inline-block;
    text-align:center;
    height: 25px;
    background: #2c2e2d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d0d0d), to(#2c2e2b));
    background: -moz-linear-gradient(top, #0d0d0d, #2c2e2b);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d0d0d, endColorstr=#2c2e2d);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d0d0d, endColorstr=#2c2e2d)";
    -webkit-box-shadow: 0 0 5px #ccc;
    margin-right: 3px;
    vertical-align: bottom;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    float:left;
}

.hitchTabs .hitchTab:nth-child-last{
    clear:right;
}

.activeHitchTab{
    background: #164aa5;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#164aa5), to(#123ca4));
    background: -moz-linear-gradient(top, #164aa5, #123ca4);
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(#164aa5), to(#123ca4));
    background: gradient(linear, 0% 0%, 0% 100%, from(#164aa5), to(#123ca4));
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#164aa5, endColorstr=#123ca4);

    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#164aa5, endColorstr=#123ca4)";
    -webkit-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.activeHitchTab a{
    line-height: 30px !important;
    -webkit-transition: line-height 0.3s ease-in;
    -o-transition: line-height 0.3s ease-in;
    -moz-transition: line-height 0.3s ease-in;
    transition: line-height 0.3s ease-in;
}

.hitchTab a{
    color: white;
    vertical-align: middle;
    font-size: 13pt;
    text-decoration: none;
    line-height: 25px;
}

.hitchTab_container{
    max-height: 400px;
    border: 2px outset #343434;
    width: 72%;
}

.hitchTab_container .wiringTab_content, .hitchTab_container .accTab_content, .hitchTab_container .imageTab_content{
    display: none;
    overflow: auto;
    max-height: 400px;
}

.hitchTab_container .imageTab_content{
    display: block;
    padding-left: 15px;
    text-align:center;
}

.hitchTab_container .imageTab_content img{
    width: 20%;
    border: 2px outset #343434;
    -webkit-box-shadow: 0 0 3px #343434;
    margin: 10px;
    cursor: pointer;
}



/******* Styling for the pop-up with hitch specific details ****/

.hitchDetails{
    background-color: white;
    height: 100%;
    min-height: 650px;
    width: 100%;
}

.title{
    font-size: 16pt;
    font-weight: bold;
    display: block;
    width: 98%;
    border-bottom: 1px solid #ccc;
    margin:auto;
    margin-top: 15px;
}

.close{
    float: right;
    position: relative;
    top: -35px;
    margin-right: 15px;
}

.close img{
    width: 30px;
    cursor: pointer;
}

#imageContainer{
    width: 25%;
    height: 260px;
    margin-left: 15px;
    margin-top: 15px;
    text-align:center;
    float:left;
}

#mainImage{
    border: 3px solid black;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px #999;
    -o-box-shadow: 3px 3px 3px #999;
    height: 205px;
    width: 100%;
    margin-bottom: 15px;
}

#mainImage img{
    height: 95%;
    width: 95%;
}

.mini{
    width: 55px;
    height: 55px;
    margin-right: 4px;
    border: 2px solid black;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px #999;
    -o-box-shadow: 3px 3px 3px #999;
    cursor: pointer;
}

.detailsLongDesc{
    float:left;
    width: 70%;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    top: -18px;
}

.prodDetails{
    float:left;
    width: 100%;
    border-collapse: collapse;
}

.prodDetails table{
    border-collapse: collapse;
    width: 100% !important;
}

.prodDetails table td{
    border: 2px solid #343434;
    margin-bottom: 2px;
}

.prodDetails table .label{
    width: 25%;
    background-color: #ccc;
    font-weight: bold;
    padding-left: 10px;
    height: 30px;
    border-right: none;
}

.prodDetails table .val{
    padding-left: 10px;
    border-left: none;
}

.prodDetails table tr .noteHeader{
    text-align: center;
    border: 2px solid black;
}

.prodDetails table tr .notes{
    border: 2px solid black;
}

.prodDetails .disclaimer{
    margin-top: 5px;
}

.installSheet{
    color: black;
    text-decoration: none;
}

.installSheet span:hover{
    text-decoration: underline;
}

.installSheet img{
    vertical-align: bottom;
}

#wiring{
    min-height: 200px;
}

.connector{
    border-bottom: 1px solid #343434;
}

.wiringContainer{
    background: #ccc;
    border-right: 1px outset #ccc;
    float:left;
    height: 215px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 35%;
}

.wiringImage{
    background: white;

    border: 2px solid #343434;
    border-radius: 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px;
    -o-border-radius: 5px 5px 5px;

    box-shadow: #999 2px 2px 2px;
    -webkit-box-shadow: #999 2px 2px 2px;
    -moz-box-shadow: #999 2px 2px 2px;
    -o-box-shadow: #999 2px 2px 2px;
    height: 125px;
    width: 80%;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    margin:auto;
}

.wiringImage img{
    max-height: 125px;
}

#wiringInfo{
    float:left;
    margin-left: 15px;
    padding-top: 20px;
    width: 60%;
}

.accessory{
    width: 100%;
    border-bottom: 2px solid #343434;
    min-height: 175px;
    clear:right;
}

.accessory .imgContainer{
    float:left;
    width: 35%;
    background: #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px outset #ccc;
    height: 100%;
}

.accessory .imgContainer .imgBorder{
    border: 2px solid #343434;
    border-radius: 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px;
    -o-border-radius: 5px 5px 5px;

    box-shadow: #999 2px 2px 2px;
    -webkit-box-shadow: #999 2px 2px 2px;
    -moz-box-shadow: #999 2px 2px 2px;
    -o-box-shadow: #999 2px 2px 2px;

    height: 125px;
    width: 80%;
    padding: 5px;
    overflow:hidden;
    vertical-align: middle;
    text-align: center;
    background: white;
    margin:auto;
}

.accessory .imgContainer .imgBorder img{
    /*width: 125px;*/
    max-height: 125px;
}

.accessory .imgContainer .qtyBox, .wiringContainer .qtyBox{
    width: 15px;
    border: 1px solid #343434;
    border-radius: 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px;
    -o-border-radius: 3px 3px 3px;
    height: 15px;
    padding: 2px;
    margin-top: 3px;
    vertical-align: top;
}

.accessory .imgContainer .accPrice, .wiringContainer .accPrice{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.accessory .specs{
    float:left;
    padding-left: 35px;
    width: 55%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.accessory .specs .details{
    width: 100%;
    font-size: 11pt;
    float:left;
}

.accessory .specs .details ul{
    padding-left: 0px;
    width: 45%;
    max-height: 150px;
    float:left;
}

.accessory .specs .buy{
    width: 40%;
    float:left;
}

.price{
    font-size: 16pt;
    color: #e44f31;
    margin-right: 10px;
    line-height: 25px;
    vertical-align: top;
}

#configurator form label{
	font-weight: bold;
	line-height: 25px;
}



/* Tab Styling */

ul.tabs {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 70%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	float: right;
        width: 70%;
	background: #fff;
        margin-bottom: 35px;
}
.tab_content {
	font-size: 1.2em;
}


/* End Tab Styling */


/* Southern Parts & Equipment Styling */

.southern_parts_button{
    background: #E44F31;
color: #343434;
border: 2px outset #E44F31;
height: 35px;
width: 90%;
margin-top: 10px;
font-weight: bold;
cursor: pointer;
border-radius: 4px 4px 4px;
-moz-border-radius: 4px 4px 4px;
-o-border-radius: 4px 4px 4px;
}

.southern_parts_button:hover{
    text-decoration: underline;
}

.fasttrackracks_button{
    background: #164aa5;
color: white;
border: 2px outset #123ca4;
height: 35px;
width: 90%;
margin-top: 10px;
font-weight: bold;
cursor: pointer;
border-radius: 4px 4px 4px;
-moz-border-radius: 4px 4px 4px;
-o-border-radius: 4px 4px 4px;
}

.fasttrackracks_button:hover{
    text-decoration: underline;
}

/* End Southern Parts & Equipment Styling */